doctype 5
html(itemscope, itemtype="http://schema.org/Product")
	head
		title Eagull

		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta http-equiv="X-UA-Compatible" content="chrome=1">
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1">

		<meta name="keywords" content="chatroom firemoth eagull eagle seagull gull fire moth group chat trollmoth chaosmoth groupchat">
		<meta name="description" content="A chatroom based community, where friends and strangers can coexist!">
		<meta name="copyright" content="&copy; 2011 Eagull">
		<meta itemprop="name" content="Eagull">
		<meta itemprop="description" content="A chatroom based community, where friends and strangers can coexist!">
		<meta itemprop="url" content="http://www.eagull.net/">
		<meta itemprop="image" content="http://www.eagull.net/logo.png">
		<meta itemprop="author" content="http://plus.google.com/102352740383917776245">
		<meta property="og:title" content="Eagull" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="http://www.eagull.net/" />
		<meta property="og:image" content="http://www.eagull.net/logo.png" />
		<meta property="og:site_name" content="Eagull" />
		<meta property="fb:app_id" content="216540884750"/>

		link(rel='icon', type='image/x-icon', href="/favicon.ico")
		link(href='http://fonts.googleapis.com/css?family=Architects+Daughter', rel='stylesheet', type='text/css')

		link(href='/lib/bootstrap.css', rel='stylesheet', type='text/css')
		!=css('global.css')

		script window.blaze = { version: "#{version}", debug: (location.hostname.indexOf('eagull.net') == -1) };
		script _gaq = window._gaq || []; _gaq.push(['_setAccount', blaze.debug ? 'UA-21159963-6' : 'UA-21159963-5'], ['_trackPageview']);
		script(src="/lib/jquery.min.js")
		script(src="/lib/jquery-ui.min.js")

		!=js("xmpp.js")
		!=js("blaze.js")
		!=js("track.js")
		!=js("messages.js")
		!=js("index.js")

	body
		.navbar.navbar-inverse.navbar-fixed-top
			.navbar-inner
				.container-fluid
					a.brand.ajax(x-doc="1yaENZvhsLU81SWfp01AzGlarOTOKRQ_CKbkVxOh6j10") EAGULL
					ul.nav
						li
							a.btnRoom FireMoth
						li
							a.btnRoom(x-jid='trollmoth@chat.eagull.net') TrollMoth
						li
							a.btnLightTemplate(x-template='frmJoinRoom') +
					ul.nav.pull-right
						li
							a.ajax(x-doc="1Faa0akTtbOgC2k6RRjl_xRamsAYJwzFgzJb6GJ0nb80") usage guide
						li
							a login
					ul.visible-desktop.nav.pull-right
						li.dropdown
							a.dropdown-toggle(data-toggle="dropdown") options
								b.caret
							ul.dropdown-menu
								li
									a.createRoom create new room
								li
									a.partRoom leave this room
								li
									a.saveLogs save recent logs
						li.dropdown
							a.dropdown-toggle(data-toggle="dropdown") widgets
								b.caret
							ul.dropdown-menu
								li
									a.btnRoomContent(x-type='roster') users
								li
									a.btnRoomContent(x-type='video') video

		#nav-spacer.hidden-phone
		#content.container-fluid
			.row-fuild
				.span12
					pre#topicContainer(style="display:none")
						h4#topic
			.row-fuild
				.span12.scrollPanel#leftPanel
					#scrollWrapper
						#messages
				.span4.scrollPanel#rightPanel(style="display:none")
					button.btn.btn-mini.btn-inverse#btnCollapseContent x
					#contentPanel
			input#messageBox(placeholder="Type a message here. Hit the enter key to send.")

		#templates(style='display:none')
			form#frmXmppConfig
				label(for='txtXmppId') Username
					input#txtXmppId.input-text.persistent(placeholder='user@example.com')
				label(for='txtXmppPasswd') Password
					input#txtXmppPasswd.input-text.persistent(type='password')
				button.btnCloseLightbox#btnSaveXmppConfig.nice.small.green.button.right Connect

			form#frmNickname
				h3 Enter a nickname
				label Nickname
					input.input-text.persistent#txtNickname
				button.btnSaveNickname

			form#frmJoinRoom
				h2 Join a chatroom
				label Invitation Code
					input.input-text
				button.big.nice.green.button Join

			form#frmCreateRoom
				label Name
					input.input-text

			#content-roster
				#roster
					.rosterItem firefly
					.rosterItem Bubbalicious
					.rosterItem dragon
			#content-video
				div http://www.youtube.com/nevergonnagiveyouup

			#messageLine
				| <
				span.nick
				| >
				span.message
				time.timestamp

			#privateMessageLine
				| [
				span.nickFrom
				|  -> 
				span.nickTo
				| ]
				span.message
				time.timestamp

		script(src="/lib/jquery.timeago.js")
		script(src="/lib/strophe.min.js")
		script(src="/lib/strophe.muc.min.js")
		script(src="http://www.google-analytics.com/ga.js")
		script(src="/fancybox/jquery.fancybox.pack.js")
		script(src="/lib/bootstrap.js")
		link(rel="stylesheet", href="/fancybox/jquery.fancybox.css")

