body
	font-family sans-serif
	margin 0
	font-size small
	background-color #f8f8f8

h1, h2
	color #9F0099
	font-variant small-caps
	clear both

h2
	color brown

blockquote
	font-style italic

a, a:visited
	text-decoration none
	font-weight bold

a:hover
	text-decoration underline

a
	cursor pointer

.row
	max-width 100%
	width 100%

.upperPanel
	position absolute
	top 0
	bottom 10rem

.lowerPanel
	position absolute
	top -10rem
	bottom 0

header
	color #fff
	background-color #2D2D2D
	border-bottom 2px solid #002200
	height 30px
	height 3rem
	opacity 1
	position fixed
	top 0
	left 0
	right 0
	width 100%
	z-index 990

header a
	color #ccc !important
	font-weight normal
	display block
	text-decoration none !important
	border-left 5px solid transparent
	border-right 5px solid transparent
	position relative
	z-index 1000

header a:hover
	color #fff !important

header > nav
	display block
	text-decoration none !important
	height 30px
	position absolute
	top 0
	white-space nowrap
	z-index 1000

header > nav:first-child
	left 0
	padding-left 8px

header > nav:last-child
	padding-right 8px
	right 0

header img
	height 24px

header ul
	display block
	list-style none outside none
	margin 0
	padding 0

header ul > li
	position relative
	display -moz-inline-box
	display inline-block
	line-height 27px
	padding 0
	vertical-align top

header ul > li > *
	padding 0 5px
	border-top 2px solid transparent
	height 27px

header ul > li > .selected
	border-top-color #4bdd39 !important
	font-weight bold
	color #fff !important

.logo
	font-family 'Architects Daughter', cursive
	font-weight bold
	font-size 27px
	color #ccc

.text
	font-size 1.2em
	line-height 1.5em
	padding 10px

.scrollPanel
	position relative
	top 0
	left 0
	right 0
	overflow-y scroll

#content
	margin-top 42px

#rightPanel
	overflow-y auto

#messageBox
	position fixed
	bottom 0
	right 0
	left 0
	height 3rem
	padding 0.5rem
	width 100%
	font-size 2rem

.buttonBar button
	margin 0.5em

#roomContent
	padding 1em

#messages div
	margin-top 0.5rem
	word-wrap break-word

#messages .status
	font-style italic
	font-weight bold
	color #888

#messages .muc
	font-weight bold
	color #555

#messages .muc .message, #messages .private .message
	margin-left 1rem

#messages .muc .timestamp, #messages .private .timestamp
	magrin-left 1rem
	font-style italic
	color #888

#btnCycleSize
	position fixed

