body
	background-color #f8f8f8
	font-size 16px
	font-size 1rem

body, input, button, select, textarea
	font-family Ubuntu
	font-weight 300

h1, h2
	color #9F0099
	font-variant small-caps
	clear both

h2
	color brown

blockquote
	font-style italic

a, a:visited
	text-decoration none
	font-weight bold

a:hover
	text-decoration underline

a:hover.button
	text-decoration none

a
	cursor pointer

.upperPanel
	position absolute
	top 0
	bottom 10rem

.lowerPanel
	position absolute
	top -10rem
	bottom 0

header img
	height 24px

.navbar .brand
	font-family 'Architects Daughter', cursive
	font-weight bold
	font-size 30px
	cursor default

.nav
	font-family 'Happy Monkey'

.text
	font-size 1.2em
	line-height 1.5em
	padding 10px

.scrollPanel
	position relative
	top 0
	left 0
	right 0
	overflow-x hidden
	overflow-y auto

#nav-spacer
	margin-top 55px

#topic
	font-family "Happy Monkey", Monaco, Menlo, Consolas, "Courier New", monospace

#rightPanel
	overflow-y auto

ul.roster
	font-size 1.3em
	list-style: none

ul.roster li
	line-height 2rem

#messageBox
	position fixed
	bottom 0
	right 0
	left 0
	height 2rem
	padding 0.4rem
	width 100%
	font-size 1.3rem
	background-color #EEF

#btnSend
	position fixed
	bottom 0
	right 0
	height 3.1rem

.buttonBar button
	margin 0.5em

#roomContent
	padding 1em

#messages div
	margin-top 0.5rem
	word-wrap break-word

#messages .status
	font-style italic
	font-weight bold
	color #888

#messages .muc
	font-weight bold
	color #888

#messages .muc .message, #messages .private .message
	margin-left 0.2rem
	color #555

#messages .muc .timestamp, #messages .private .timestamp
	float right
	clear both
	font-size small
	font-style italic
	margin-right 5px
	color #aaa

#btnCollapseContent
	float right

